<nav style = "background-color:#e52119"  class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
      <i class="fa fa-bars"></i>
    </button>

    <div class="topbar-divider d-none d-sm-block"></div>


      <div class="input-group">
        <div class="input-group-append">
            <h4 class = "fmis_heading2" style = "color:#ffffff; padding-left:6px; font-weight:bold"> eKVP Reporting Dashboard</h4>
        </div>
      </div>

    <ul class="navbar-nav ml-auto">

      <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <!-- Counter - Alerts -->
          <i style = "color: rgb(0, 0, 0)"></i>
        </a>
      </li>

      <!-- Nav Item - Messages -->
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="">Admin</i>
          <!-- Counter - Messages -->
          <span class="badge badge-danger badge-counter"></span>
        </a>
        <!-- Dropdown - Messages -->
      </li>

      <div class="topbar-divider d-none d-sm-block"></div>

      <!-- Nav Item - User Information -->
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
          <img class="img-profile rounded-circle" src="https://buyunicatholic.org/fmis/admin/img/user.png">
        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Profile
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#logout" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Logout
          </a>
        </div>
      </li>

    </ul>

  </nav>