<!-- Page Wrapper -->
<div id="wrapper">

    <!-- sidebar star -->
        <!-- Sidebar -->
    <!-- Sidebar -->
    <app-sidemenu></app-sidemenu>
      <!-- End of Sidebar -->
      <!-- End of Sidebar -->
    <!-- sidebar ends -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
    
          <!-- Main Content -->
          <div id="content">
    
            <!-- header -->
                    <app-header></app-header>
            <!-- end header -->
  
            <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="../logout.php">Logout</a>
          </div>
        </div>
      </div>
    </div>
          <!-- End of Topbar -->
              <!-- header ends -->   
                
            <!-- Begin Page Content -->
            <div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Admin | Add Client</h1>
          <div class = "row" style = "background-color: #f0f1f2">
              <!-- Page Heading -->                
            
              <!-- Content Row -->
              <div class="row">
                <div class="col-xl-12 col-lg-12">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div style = "margin-top: 30px" class="row">
                            <div class="col-lg-12">
                              <!-- Collapsable Card Example -->
                              <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                  <h6 class="m-0 font-weight-bold text-primary">New Client</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="collapseCardExample">
                            
                                <div class="card-body">
                                                               
                                <div class="row">
                                  <div class="col-md-4">
                                    <select class="form-control" name="region" id="region">
                                        <option value="">Region</option>
                                    </select>
                                </div><!-- /.form group -->
    
                                <div class="col-md-4">
                                  <select class="form-control" name="district" id="district">
                                      <option value="">District</option>
                                  </select>
                              </div><!-- /.form group -->
    
                              <div class="col-md-4">
                                <select class="form-control" name="ward_shehia" id="ward_shehia">
                                    <option value="">Ward/Shehia</option>
                                </select>
                            </div><!-- /.form group -->
                                    
                                </div> <!--row-->

                                <div class="row">
                                    <div class="col-md-4">
                                          <input type="date" placeholder = "Date Reached" class="form-control pull-right" id="date_reached" name="date_reached" required />
                                        </div><!-- /.form group -->
    
                                        <div class="col-md-4">
                                            <select name="" id="" class="form-control" required>
                                                <option value="">Sex</option>
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                            </select>                                        
                                        </div><!-- /.form group -->

                                    <div class="col-md-4">
                                        <input type="number" min="1" placeholder = "age" class="form-control pull-right" id="age" name="age" required>
                                  </div><!-- /.form group -->
                                    
                                </div> <!--row-->
    
    
                                <div class="row">
                                    <div class="col-md-4">
                                      <select class="form-control" name="facility_for_register" id="facility_for_register">
                                        <option value="">facility where Testing KVP register located</option>
                                    </select>
                                  </div><!-- /.form group -->
    
                                    <div class="col-md-4">
                                          <input type="text" placeholder = "Client number" class="form-control pull-right" id="client_number" name="client_number" required>
                                    </div><!-- /.form group -->
    
                                    <div class="col-md-4">
                                      <select class="form-control" name="eligible" id="eligible">
                                        <option value="">Eligible</option>
                                        <option value="Y">Yes</option>
                                        <option value="N">No</option>
                                    </select>     
                                        </div><!-- /.form group -->
                                    
                                </div> <!--row-->

                                <div class="row">
                                  <div class="col-md-4">
                                    <select class="form-control" name="kvp_group" id="">
                                        <option value="">KVP Group</option>
                                    </select>
                                </div><!-- /.form groups -->
    
                                <div class="col-md-4">
                                  <select class="form-control" name="testing_modality" id="">
                                      <option value="">Testing Modality</option>
                                  </select>
                              </div><!-- /.form groups -->
    
                              <div class="col-md-4">
                                <select class="form-control" name="testing_status" id="">
                                    <option value="">Testing Status</option>
                                  </select>
                            </div><!-- /.form groups -->
                                    
                                </div> <!--row-->

                                <div class="row">
                                  <div class="col-md-4">
                                    <select class="form-control" name="result" id="result">
                                        <option value="">Result</option>
                                    </select>
                                </div><!-- /.form group -->     

                                  <div class="col-md-4">
                                        <select class="form-control" name="started_arv" id="started_arv">
                                            <option value="">Started ARV</option>
                                            <option value="Y">Yes</option>
                                            <option value="N">No</option>
                                        </select>   
                                   </div>

                                   <div class="col-md-4">
                                    <select class="form-control" name="hot_spot" id="hot_spot">
                                        <option value="">Hot-Spot</option>
                                    </select>   
                               </div>

                              </div>

                              <div class="row">
                                <div class="col-md-4">
                                    <select class="form-control" name="linked_facility" id="linked_facility">
                                        <option value="">Facility Linked</option>
                                    </select>   
                               </div>

                                <div class="col-md-4">
                                    <select class="form-control" name="linked_ctc" id="">
                                        <option value="">Linked to CTC ?</option>
                                        <option value="Y">Yes</option>
                                        <option value="N">No</option>
                                    </select>   
                               </div>

                               <div class="col-md-4">
                                <input type="text" placeholder = "CTC number" class="form-control pull-right" id="ctc_number" name="ctc_number" required>
                               </div>
                              </div>

                              <div class="row">

                                <div class="col-md-4">
                                    <select class="form-control" name="KVP_screening" id="KVP_screening">
                                        <option value="">KVP Screening </option>
                                    </select>   
                               </div>

                                <div class="col-md-4">
                                    <select class="form-control" name="linked_ctc" id="">
                                        <option value="">Condom Distributed ?</option>
                                        <option value="Y">Yes</option>
                                        <option value="N">No</option>
                                    </select>   
                               </div>

                               <div class="col-md-4">
                                    <select class="form-control" name="linked_ctc" id="">
                                        <option value="">REFERRED_STI_TB_GENDER DESK</option>
                                        <option value="Y">Yes</option>
                                        <option value="N">No</option>
                                    </select>                    
                                </div>
                              </div>

                              <div class="row">

                                <div class="col-md-4">
                                    <select class="form-control" name="KVP_screening" id="KVP_screening">
                                        <option value="">HF Implemented CBHS Events </option>
                                    </select>   
                               </div>

                                <div class="col-md-4">
                                    <select class="form-control" name="linked_ctc" id="">
                                        <option value="">Reached With PrEV Package</option>
                                        <option value="Y">Yes</option>
                                        <option value="N">No</option>
                                    </select>   
                               </div>

                               <div class="col-md-4">
                                    <textarea class="form-control" placeholder="Comments..."></textarea>                  
                                </div>
                              </div>
    
                                <div class="row">
                                    <div class="col-md-12">
                                       <button style="width: 100%; background-color: #e52119; border: solid #e52119;" class="btn btn-primary">SUBMIT DATA</button>
                                    </div>
                                </div>
    
                            </div>
                            <!--card body ends here-->
                             </div>
                              </div>
                            
                            </div>
                    </div>
        
                  </div>
        
                </div>
                </div>
    
              </div>
    
            </div>
            <!-- /.container-fluid -->
    
          </div>
          <!-- End of Main Content -->
    
  <!-- footer -->
        <!-- Footer -->
      <app-footer></app-footer>  
          <!-- end footer -->
        </div>
        <!-- End of Content Wrapper -->
    
      </div>
      <!-- End of Page Wrapper -->
    
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>